body
{
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  justify-content: center;
  color: #474747;
}

.container
{
  width: 310px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title
{
  padding-left: 15px;
  font-size: 24px;
}

h4
{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}

.recap
{
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.bold
{
  font-weight: bold;
}

.button-valid
{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #B42F3C;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  margin: 10px 0 10px 150px;
}

/*FAQ*/

.faq{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 10px;
}

.faqItem {
  position: relative;
  margin: 0;
  background: #F0F0F0;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 1vh;
  width: 310px;
  flex-flow: row wrap;
}

.faqItem .answer{
  display: none;
}

.faqItem.is-open .answer{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.button-connect-ship
{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #B42F3C;
  border-radius: 5px;
  padding: 5px 15px;
}

.no-messenger
{
  color: #474747;
}

.button-center
{
  text-align: center;
}

/* Order list */
.order-list {
  list-style: none; /* Remove default bullets */
}

.order-list li::before {
  content: "\2022";
  color: #B42F3C;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -3em;
}

.card
{
  display: flex;
  flex-direction: row;

}

label{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input{
  border-radius: 14px;
  border: 2px solid #f2f2f2;
  box-shadow: none;
  padding: 0 15px;
  height: 30px;
  font-weight: bold;
}

::placeholder {
  color: #D4D4D6;
  font-size: 0.9em;
  font-family: 'Nunito', sans-serif;
}
