body
{
  display: flex;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  font-size: 16px;
}

.container
{
  width: 310px;
  margin: 0 auto;
}

.link-location
{
  text-decoration: none;
}

    /* Progress step bar */
.progress {
    position: relative;
    display: flex;
}

.progress-track {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 5px;
    background-color: #dfe3e4;
    z-index: -1;
}
/*Each Step on the Progress Bar*/
.progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  font-family: Nunito;
  text-align: center;
}
/*Hide the final step's progress bar*/
.progress-step:last-child:after {
    display: none;
}
/*Step's circle in default state*/
.progress-step:before {
    content: "";
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid #dfe3e4;
    border-radius: 100%;
}
/*Step's progress bar in default state*/
.progress-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: -1;
}
/*Step's active state*/
.progress-step.is-active {
  color: #B42F3C;
}
.progress-step.is-active:before {
    border: 4px solid rgb(134, 133, 133);
    animation: pulse 2s infinite;
  }
/*Step's complete state*/
.progress-step.is-complete.step1 {
    color: #B42F3C;
}
/*Step's circle in complete state*/
.progress-step.is-complete.step1:before {
    font-family: Nunito;
    font-size: 10px;
    color: white;
    background: #B42F3C;
    border: 4px solid transparent;
}

/*Step's progress bar in complete state*/
.progress-step.is-complete.step1:after {
    background: #b42f3c;
    animation: nextStep1 1s;
    animation-fill-mode: forwards;
}
/*Pulse animation for Step's circle in active state*/
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0.4); }
  70% { box-shadow: 0 0 0 7px rgba(182, 47, 61, 0); }
  100% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0); }
}
/*Progressing to next step animation for Step's progress bar*/
@keyframes nextStep1 {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 100%; }
}
/*Step's complete state*/
.progress-step.is-complete.step2 {
    color: #B42F3C;
}
/*Step's circle in complete state*/
.progress-step.is-complete.step2:before {
    font-family: Nunito;
    font-size: 10px;
    color: white;
    background: #B42F3C;
    border: 4px solid transparent;
}

/*Step's progress bar in complete state*/
.progress-step.is-complete.step2:after {
    background: #b42f3c;
    animation: nextStep2 1s;
    animation-fill-mode: forwards;
}
/*Pulse animation for Step's circle in active state*/
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0.4); }
  70% { box-shadow: 0 0 0 7px rgba(182, 47, 61, 0); }
  100% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0); }
}
/*Progressing to next step animation for Step's progress bar*/
@keyframes nextStep2 {
  0% { width: 0%;}
  50% { width: 0%; }
  100% { width: 100%; }
}


/*Step's complete state*/
.progress-step.is-complete.step3 {
  color: #B42F3C;
}
/*Step's circle in complete state*/
.progress-step.is-complete.step3:before {
  font-family: Nunito;
  font-size: 10px;
  color: white;
  background: #B42F3C;
  border: 4px solid transparent;
}

/*Step's progress bar in complete state*/
.progress-step.is-complete.step3:after {
  background: #b42f3c;
  animation: nextStep3 1.5s;
  animation-fill-mode: forwards;
}
/*Pulse animation for Step's circle in active state*/
@keyframes pulse {
0% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0.4); }
70% { box-shadow: 0 0 0 7px rgba(182, 47, 61, 0); }
100% { box-shadow: 0 0 0 0 rgba(182, 47, 61, 0); }
}
/*Progressing to next step animation for Step's progress bar*/
@keyframes nextStep3 {
0% { width: 0%;}
25% { width: 0%; }
75% { width: 0%; }
100% { width: 100%; }
}


.container .title
{
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #474747;
}

.container .button-flex
{
  display: flex;
  justify-content: space-around;
}

.container .button-flex .button-home
{
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.container .button-flex .button-work
{
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}
.container .button-flex .button-home .position-svg
{
  margin-top: 10px;
}
.container .button-flex .button-home .button-text
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: #474747;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.container .button-flex .button-work .position-svg
{
  margin-top: 10px;
}

.container .button-flex .button-work .button-text
{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: #474747;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.container .continue-button
{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 154px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: #ce7982;
}

.container .continue-button .uppercase
{
  color: white;
  font-family: "Nunito";
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

h4
{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
  color: #474747;
}

.button-valid
{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #B42F3C;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin: 10px 0 10px 150px;
}

/*FAQ*/

.faq{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 10px;
}

.faqItem {
  position: relative;
  margin: 0;
  background: #F0F0F0;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 1vh;
  width: 310px;
  flex-flow: row wrap;
}

.faqItem .answer{
  display: none;
}

.faqItem.is-open .answer{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.faqItem.is-open .answer .day
{
    display: flex;
    justify-content: space-around;
}

.faqItem.is-open .answer .day-style
{
    padding-top: 10px;
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #474747;
    width: 80px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.faqItem.is-open .answer .day-other-link
{
    margin-top: 25px;
    margin-left: 190px;
    padding-bottom: 10px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #474747;
}

.button-connect-ship
{
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #B42F3C;
  border-radius: 5px;
  padding: 5px 15px;
}

.faqItem.is-open .answer .hours-row-1
{
    display: flex;
    justify-content: space-around;
}

.faqItem.is-open .answer .hours-row-1 .hours-style
{
    padding-top: 10px;
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #474747;
    width: 85px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.faqItem.is-open .answer .hours-row-2
{
    display: flex;
    justify-content: space-around;
}

.faqItem.is-open .answer .hours-row-2 .hours-style
{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #474747;
    width: 85px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.faqItem.is-open .answer .adresse
{
    margin-left: 5px;
    margin-right: 5px;
}

input{
  border-radius: 14px;
  border: 2px solid #f2f2f2;
  box-shadow: none;
  padding: 0 15px;
  height: 30px;
  font-weight: bold;
}

#searchinput{
  color: #474747;
  font-size: 0.9em;
  font-family: 'Nunito', sans-serif;
}

::placeholder {
  color: #D4D4D6;
  font-size: 0.9em;
  font-family: 'Nunito', sans-serif;
}

.valid
{
  text-decoration: none;
}
